<div class="drawer-side">

    <label for="side-drawer" class="drawer-overlay"></label>
    <ul id="ul_menu" class="w-64 h-screen menu bg-base-200 rounded-box">
        <div class="hidden md:block">

        </div>
        <div class="flex justify-end p-8">
            <i class="fa-solid fa-bars text-success"></i>
        </div>
        <div id="AppClockDisplay" class="pb-8 text-5xl text-center text-primary" style="font-family: 7_secment;">

        </div>
        <li>
            <a class="" href="/log">
                <i class="fa-solid fa-house"></i>
                Log
            </a>
        </li>

        <li>
            <a class="" href="/gate_way_lpr">
                <i class="fa-solid fa-house"></i>
                Auto GATE LPR
                <!-- <span class="badge badge-sm">99+</span> -->
            </a>
        </li>
        <!-- <li>
            <a href="/transection_report">
                <i class="fa-solid fa-file-lines"></i>
                รายงานข้อมูล
            </a>
        </li> -->
        <li>
            <!-- <a>
                Stats
                <span class="badge badge-xs badge-info"></span>
            </a> -->
            <details>
                <summary>
                    <i class="fa-solid fa-bars"></i>
                    Main Menu
                    <span class="badge badge-secondary badge-outline">admin</span>
                </summary>
                <ul>
                    <li><a href="/system_config">System Config</a></li>
                    <li><a>About</a></li>
                    <!-- <li>
                        <details>
                            <summary>Parent</summary>
                            <ul>
                                <li><a>level 3 item 1</a></li>
                                <li><a>level 3 item 2</a></li>
                            </ul>
                        </details>
                    </li> -->
                </ul>
            </details>
        </li>
    </ul>
</div>